<app-search></app-search>
<br>
<br>
<br>

<div class="container">


<div align="center" class="row">
<div  id="userdiv" class="col-md-8">
<h3><strong>Github Username:</strong>{{user.login}}</h3>
<img src="{{user.avatarUrl}}" width="200px" height="200px" alt="">
</div>
</div>

<br>



<app-repo></app-repo>
<!-- <table class="table info-repos">
  <tbody>
    <tr *ngFor='let r of repos'>
      <td>
        <a href="{{r.html_url}}" target="_blank" appFontChanger>{{r.name}}</a>
        <br>
        <p>Description: {{r.description}}</p>
        <br>
        <p>Date Created: {{r.created_at}}</p>
      </td>
    </tr>
  </tbody>
</table> -->

</div>
